.tab-header {
  background-color: #687a8f;
  color: white;
  font-weight: bold;
}

.tab-header .nav-item.active {
  background-color: #424f67;
  color: white;
  font-weight: bold;
}

.tab-header .nav-item:hover {
  background-color: #607084;
  cursor: default;
}

.tab-content{
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.tab-content .nav-item{
  background: linear-gradient(90deg, #80808012 0%, #d4d5d7 35%, #80808012 100%);
  padding: 1rem;
  margin: 0.1rem auto;
  border-radius: 0.5rem;
  width: 90%;
}

.tab-pane {
  height: 100%;
  width: 100%;
}
