.tab-header .nav-link.active {
  background-color: #424f67;
  color: white;
  font-weight: bold;
}

.tab-header {
  background-color: #687a8f;
  color: white;
  font-weight: bold;
}

.tab-header .nav-link:hover {
  transform: scale(1.03);
  cursor: default;
}

.tab-header .nav-link.active {
  background-color: #424f67;
  color: white;
  font-weight: bold;
}

.tab-header {
  background-color: #687a8f;
  color: white;
  font-weight: bold;
}

.tab-header .nav-link:hover {
  transform: scale(1.03);
  cursor: default;
}

.side-panel {
  background-color: #ECEDEF;
  padding: 0px;
  margin: 0rem 1rem;
  border-radius: 0rem 0rem 2rem 2rem;
  border-color: #dee2e6;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  width: 40%
}

.tab-content{
  padding: 2rem;
}

.tab-content .nav-item{
  background: linear-gradient(90deg, #80808012 0%, #d4d5d7 35%, #80808012 100%);
  padding: 1rem;
  margin: 0.1rem auto;
  border-radius: 0.5rem;
  width: 90%;
}
