body {
  padding-bottom: 30px;
}

h1, h2, p {
  font-family: sans-serif;
  text-align: center;
  font-size: xx-large;
  font-weight: 300;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}
