.app {
  display: flex;
  justify-content: space-around;
  height: 500px;
  width: 100%;
}

.app__map {
  align-self: center;
  width: 700px;
  height: 300px;
}

.app__sideboard {
  width: 500px;
  height: 100%;
  border: 1px solid black;
  border-radius: 3%;
  overflow: hidden;
}
