.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 100%;
}

.app__map {
  width: 700px;
  height: 650px;
}

.app__side-panel {
  background-color: #ECEDEF;
  padding: 0px;
  margin: 0rem 1rem;
  border-radius: 0rem 0rem 2rem 2rem;
  border-color: #dee2e6;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  width: 40%;
  height: 650px;
}

.app__advanced {
  width: 100%;
  margin-top: 25px;
}

a, a:hover {
  color: inherit;
  text-decoration: inherit;
}
